<div class="filterbox">
  <label for="calories">Search By Calories:</label>
     <select class="form-control" (change)="onChange($event.target.value)">
       <option value="allCalories" selected="selected">All Calories</option>
       <option value="highCalories">High Calories</option>
       <option value="lowCalories">Low Calories</option>
     </select>
   </div>

   <h2>Food Entries:</h2>

  <li *ngFor="let entry of childEntryList | calories:filterByCalories"><h3><i class="fa fa-cutlery" aria-hidden="true"></i>
 {{entry.food}} <button (click)="editButtonHasBeenClicked(entry)" class="btn btn-warning btn-xs">Edit</button></h3>
    <div class="panel">
    <ul>
      <li><span>Details:</span> {{entry.details}}</li>
      <li [class]="highCal(entry)"><span>Calories:</span> {{entry.calories}}</li>

    </ul>
  </div>
  </li>
