<div class="filterbox">
  <label for="calories">Search By Calories:</label>
     <select class="form-control" (change)="onChange($event.target.value)">
       <option value="allCalories" selected="selected">All Calories</option>
       <option value="highCalories">High Calories</option>
       <option value="lowCalories">Low Calories</option>
     </select>
   </div>

   <h2>Food Entries:</h2>

  <li *ngFor="let entry of childEntryList | calories:filterByCalories"><h3>* {{entry.food}}</h3>
    <div class="well">
    <ul>
      <li>Details: {{entry.details}}</li>
      <li>Calories: {{entry.calories}}</li>
      <button (click)="editButtonHasBeenClicked(entry)" class="btn btn-warning">Edit</button>
    </ul>
  </div>
  </li>
