<h2>Food Entries:</h2>

<div class="filterbox">
     <select  (change)="onChange($event.target.value)">
       <option value="allCalories" selected="selected">All Calories</option>
       <option value="highCalories">High Calories</option>
       <option value="lowCalories">Low Calories</option>
     </select>
   </div>


<li *ngFor="let entry of childEntryList | calories:filterByCalories"><h3>{{entry.food}}</h3>
     <ul>
       <li>Details: {{entry.details}}</li>
       <li>Calories: {{entry.calories}}</li>
     </ul>
   </li>
