<div class="well">
   <h3>New Entry:</h3>
   <form>
     <label for="food">Food:</label>
     <input #newFood id="food" class="form-control" type="text" name="food" required><br>
     <label for="details">Details:</label>
     <textarea #newDetails id="details" class="form-control" type="text" name="details" required></textarea><br>
     <label for="calories">Calories:</label>
     <input #newCalories id="calories" class="form-control" type="text" name="calories" required><br>
     <button (click)="submitForm(newFood.value, newDetails.value, newCalories.value); newFood.value=''; newDetails.value=''; newCalories.value='';" class="btn btn-success">Save Entry</button>
   </form>
 </div>
