<div *ngIf="childSelectedEntry">
  <div class="well">
    <h2>Edit {{childSelectedEntry.food}} Entry:</h2>
    <form class="form-group">
      <label for="food">Food:</label>
      <input [(ngModel)]="childSelectedEntry.food" id="food" class="form-control" type="text" name="food">

      <label for="details">Details:</label>
      <textarea [(ngModel)]="childSelectedEntry.details" id="details" class="form-control" type="text" name="details"></textarea>

      <label for="calories">Calories:</label>
      <input [(ngModel)]="childSelectedEntry.calories" id="calories" class="form-control" type="text" name="calories"><br>

      <button (click)="doneButtonClicked()" class="btn btn-warning">Update</button>
      <hr>
    </form>
  </div>
</div>
